@model SearchModel

@{
    ViewData["Title"] = "Song Search";
}

<h1>Song Search</h1>
<h2>Playlist id: @Model.PlaylistId</h2>
<form asp-controller="home" asp-action="Search">
    <input type="text" name="name" placeholder="Song name" />
    <button class="btn btn-primary" value="hello" text="submit">Search</button>
</form>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Songs.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Songs.FirstOrDefault().Artist)
            </th>
            <th>@Html.DisplayNameFor(model => model.Songs.FirstOrDefault().Length) (s)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Songs)
        {
            @if (item.Length > 310)
            {
                <text>
                    <tr class="table-danger">
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                            @Html.HiddenFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Artist)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Length)
                        </td>
                        <td>
                            <div class="disabled">
                                <div>Too long</div>
                            </div>
                        </td>
                    </tr>
                </text>
            }
            else
            {
                <text>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                            @Html.HiddenFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Artist)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Length)
                        </td>
                        <td>
                            @Html.ActionLink("Add", "AddSong", new { id = item.Id, title = item.Title, playlistId = Model.PlaylistId })
                        </td>
                    </tr>
                </text>
            }
        }
    </tbody>
</table>
